# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
docs/**
**/__pycache__/**

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*build_*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# vs
.vs
# .vscode
.cmake/**
.log/**

*.venv/**
build_py/**
build_win/**

local/**
build/**

# agnent
tmux**

.vscode/**
.github/workflows/**

# msg and srv files
msg/*
!msg/test_messages/
!msg/test_msg2/
!msg/test_nested/
!msg/ros_std_msgs/
!msg/std_msgs/
srv/*
!srv/request_response_test/
!srv/std_srv/
python/dzipc/gen_msgs/**
python/dzipc/gen_srv/**
include/ipc_msg/**
include/ipc_srv/**
!include/ipc_msg/ipc_msg_base/
!include/ipc_msg/ipc_msg_base/**
python/dzipc.pyi
msg/external_paths.json
srv/external_paths.json

.codex/**
.claude/**
.pytest_cache/**
.agents/**
